*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 1400px;
	height: 940px;
	padding: 122px;
	margin: 130px auto 100px;
	box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
}
main {
	width:1141px;
	height: 500px;
}
h1 {
	font-family: 'PlayFair Display';
	font-size: 42px;
	margin-bottom: 40px;
	color: #171717;
}
.firstcharacter {
	font-size: 110px;
	font-family: 'PlayFair Display';
	float: left;
	color: black;
	line-height: 60px;
	padding: 12px 25px 20px 0;

}
p {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 300;
	color:  #171717;
	margin-bottom: 38px;
}
p:last-of-type{
	margin-bottom: 20px;
}
q {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-style: italic;
	color: #7b7b7b;
	font-weight: 300;
}
q:before {
	margin-right: 24px;
	font-size: 60px;
}
q:after {
	content: no-close-quote;
}
/* styles for button */
input {
	width: 264px;
	height: 68px;
	display: block;
	background-color: #FFF;
	border: 2px solid #eaa258;
	outline: none;
	text-transform: uppercase;
	color: #eaa258;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	letter-spacing: .219em;
	margin-top: 40px;
}
